{% extends "skelleton.html" %}

{% block content %}
<h1>WebPage Info</h1>
<h3 class = "w3-margin">
    Página creada por Sergio Martínez Agüero
    El funcionamiento de la página es similar al que se hace referencia en
    el enunciado de la práctica.
    <br>
    Están añadidas todas las partes opcionales.
    <br>
    Como peculiaridades de esta cabe destacar que la barra de navegación
    está realizada con javascript y situada en la parte superior,
    que el listado de usuarios de la página principal está "escondido"
    y se muestra al pulsar en el icono de usuarios (también implementado
    mediante javascript), se ha añadido un mapa de google que localiza los parkings
    si estos tienen coordenadas y para obtener la información sobre los parkings
    es necesario pulsar el botón de la parte inferior de la página principal.
</h3>
{% endblock %}
